<div class="container" ng-controller="AuthController">
  <div class="row">
    <div class='row col s6 pull-s1 login-left'>
      <p class="auth-text thin center-align">Login</p>
    </div>
    <div class="row col s6 push-s1"> <!-- class used to be: "row signup-form" -->
      <div class="row auth-form">
        <span ng-bind="usernameMessage"></span><br>
        <span ng-bind="passwordMessage"></span><br>

        <form ng-submit='login()'> <!-- form used to have: class="col s12" -->
          <div class="input-field"> <!-- class used to have: "input-field col s6 offset-s3"-->
            <input id="username" ng-model="username" type="text">
            <label for="username">Username</label>
          </div>
          <div class="input-field"> <!-- class ued to be: class="input-field col s6 offset-s3" -->
            <input id="password" ng-model="password" type="password">
            <label for="password">Password</label>
          </div>
          <div class="center-align">
            <button class="waves-effect waves-light btn">Log in</button>
          </div>
        </form>
      </div>
    </div> <!-- end for "row col s6 push-s1" -->
  </div> <!-- end of "row" -->
</div>

