<div class='container'>
  <div class='row'>
    <div class="input-field col s6 offset-s3">
      <form ng-submit="addIngredient()">
	<input ng-model="ingredient" type="text" id="autocomplete-input" class="autocomplete" pattern="^\s*[A-Za-z]+\s*"/>
	<label for="autocomplete-input">Enter Ingredient</label>
      </form>
    </div>

    <div class='col s1'>
      <a class="btn-floating btn-medium waves-effect waves-light green">
        <i class="material-icons" ng-click="addIngredient()">add</i>
      </a>
    </div>

    <div class='col s8'><h4>Selected Ingredients:</h4></div>

    <div class='container row'>
      <div ng-repeat='ingredient in data.ingredients' class='col s4'>
        <div class='chip'>   {{ingredient}}
          <i ng-click='deleteIngredient()' value='apple' class='close material-icons'>close</i>
        </div>
      </div>
    </div>
    <div>
    <button ng-click='sendIngredients()'class="btn waves-effect waves-light" type="submit" name="action">Get Recipes!
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<div>
