<div class="search-container" id="search-container"> <!-- had the class '.container' -->
  <div class="row search-row container"> <!-- start of row -->
    <h1>Favorites</h1>


    <div ng-repeat="step in stepsModel">
        <img class="thumb" id="imgOrId" ng-src="{{step}}" />
    </div>

<!--     <div ng-repeat="favorite in data.favorites">
      <a ng-click="selectFavorite(favorite)" class="favorite" ">{{favorite}}</a>
      <span class="removeFavoriteButton" ng-click="removeFavorite(favorite)"></span>
      <a class="btn" ng-click="removeFavorite(favorite)">delete</a>
    </div> -->
    <div class="input-field col s6 pull-s1 left-side-search">
      <form>
	     <input placeholder="Enter Ingredient" ng-model="ingredient" type="text" id="autocomplete-input" class="autocomplete text-white" pattern="^\s*([A-Za-z]+\s*)+"/>
<!-- 	     <label for="autocomplete-input">Enter Ingredient</label> -->

        <!-- old button -->
        <!-- <button class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">add</i></button> -->
        <button ng-click="selectIngredient()" class="btn right ingredients-button" type="submit" name="action">Add Selected!
          <i class="material-icons right"></i>
        </button>
        <button ng-click="addFavorite()" class="btn right ingredients-button" type="submit" name="action">Add Favorite!
          <i class="material-icons left"></i>
        </button>
        <br>
        <span>{{message}}</span>
      </form>
        <br>
        <br>
        <div>
          <button ng-click="sendIngredients()" class="btn waves-effect waves-light right recipes-button" type="submit" name="action">Get Recipes!
          <i class="material-icons right"></i>
          </button>
        </div>
        <br>
        <br>
        <div>
          <select class="browser-default col s6" ng-model="option" ng-change="ingredient=option">
            <option selected>Select Ingredient</option>
            <option ng-repeat="i in data.ingredientList | filter: ingredient | limitTo: 10 track by $index" ng-selected="($index === 0)">{{format(i)}}
            </option>
          </select>
        </div>
        <div>
          <select class="browser-default col s6" ng-model="filterOption">
            <option selected>Select Diet</option>
            <option ng-repeat="diet in filterOptions">{{diet}}</option>
          </select>
        </div>
    </div>

    <div ng-controller = "myCtrl">
      <input type="file" file-model="myFile"/>
      <button ng-click="uploadFile()">upload me</button>
    </div>

    <div>
      <div ng-if="ingredient" ng-repeat="i in data.ingredientList | filter: ingredient | limitTo: 10">{{i}}</div>
    </div>
    <div class="col s6 push-s1">
      <div class = "selected-ingredients-text text-box-search">
        <h4 class="search-h4-text valign center-align">SELECTED INGREDIENTS:</h4>
      </div>
      <div class="container row col s12 m5 ingredients-search" id="ingredients-search">
        <div ng-repeat="ingredient in data.selected">
          
          <div class="ingredient card-panel small blue-grey darken-1"> 
            <div class="card-content text-white">
              <span ng-click="addFavorite(ingredient)" class="card-title activator text-white">{{ ingredient }}</span>
              <i class="material-icons right close" value="apple" ng-click="deleteIngredient(ingredient)">close</i>
            </div>
            <!-- end of the chip -->
          </div>
        </div> <!-- end of the ng-repeat-->
      </div> <!-- end of ingredients-search-->
    </div> <!-- end of push-s1 class -->
    <div class="col s6 push-s1">
      <div class = "selected-ingredients-text text-box-search">
        <h4 class="search-h4-text valign center-align">FAVORITE INGREDIENTS:</h4>
      </div>
      <div class="container row col s12 m5 ingredients-search" id="ingredients-search">
        <div ng-repeat="favorite in data.favorites">
          <div class="ingredient card-panel small blue-grey darken-1"> 
            <div class="card-content text-white">
              <span ng-click="selectFavorite(favorite)" class="card-title activator text-white">{{ favorite }}</span>
              <i class="material-icons right close" value="apple" ng-click="removeFavorite(favorite)">close</i>
            </div>
          </div>
        </div> <!-- end of the ng-repeat-->
      </div> <!-- end of ingredients-search-->
    </div> <!-- end of push-s1 class -->
  </div> <!-- end of row -->
</div>




