<div class='search-container'> <!-- had the class '.container' -->
  <div class='row search-row container'> <!-- start of row -->
    <div class="input-field col s6 pull-s1 left-side-search">
      <form ng-submit="addIngredient()">
	<input ng-model="ingredient" type="text" id="autocomplete-input" class="autocomplete" pattern="^\s*([A-Za-z]+\s*)+"/>
	<label for="autocomplete-input">Enter Ingredient</label>
  <button class="btn-floating btn-medium waves-effect waves-light green"><i class="material-icons">add</i></button>
	<span>{{message}}</span>
      </form>
      
      <br>
      <br>

      <div>
      <button ng-click='sendIngredients()'class="btn waves-effect waves-light" type="submit" name="action">Get Recipes!
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>


    <div class='col s6 push-s1 selected-ingredients-text'>
      <h4 class='search-h4-text'>Selected Ingredients:</h4>
    <!-- </div> -->

    <div class='container row col s12 m5 ingredients-search'>
      <div ng-repeat='ingredient in data.ingredients'>
        
        <div class='ingredient card-panel small blue-grey darken-1'> 
            <!-- <div class="card small"> -->
              <!--{{ ingredient }}-->
                  <!-- <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
                  </div> -->
                  <div class="card-content text-white">
                    <span class="card-title activator text-white">{{ ingredient }}</span>
                    <i class="material-icons right close" value='apple' ng-click='deleteIngredient()'>close</i>
                  </div>
<!--             </div>
 -->        <!--</div>-->

        <!-- focus on how to change this -->
       <!--  <div class='chip'>   {{ingredient}}
          <i ng-click='deleteIngredient()' value='apple' class='close material-icons'>close</i>
        </div> -->
        <!-- end of the chip -->

      </div>
    </div> <!-- end of the row-->


    </div>
    </div> <!-- end of row -->
  </div>
</div>




