.header {
	padding-top: 5cm;
	padding-bottom: 5cm;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffffff;
}

.foodly {
	/* add in description */
	color: #4db6ac;
}

.desc {
	font-size: 20px;
}

.LPtext {
	padding-top: 15px;
	padding-bottom: 15px;
}

.foodPic {
  height: 150px;
  width: auto;
}

.foodTitle {
  font-size: 16px;
}

h1.headerTitle {
	text-decoration: underline;
}

.rep-header {
	background-image: url('../img/lp-crackers-display.jpeg');
}

.lp-header {
	background-image: url('../img/lp-cuttingboard-display.jpg');
}

.collection {
	border: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-search {
	background-size: cover;
	background-color: #922d50;
	padding-bottom: 5cm;
	padding-top: 5cm;
	max-height: 100%;
	max-width: 100%;
	color: #ffffff;
}

.right-side {
	background-color: green;
}

.rep-header {
	color: #0e0d0d;
	font-size: 4.2rem;
}

.search-row {
	padding-top: 50px;

}

.card-panel {
	width: 600px;
	/*right: 100px;*/	
}

button.btn.right.ingredients-button {
	width: 200px;
	background-color: #fb8c00;
}

button.recipes-button {
	width: 200px;
	background-color: #fb8c00;
}

.text-box-search{
	border-bottom: 1px;
	margin-top: 14.5px;
	/*padding-bottom: 10px;*/
	padding-left: 0.75rem;
	width: 600px;
	height: 143px;
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                  support rgba */
  background: rgba(54, 25, 25, .5);
  text-align: center;
}


h4.search-h4-text {
	padding-top: 65px;
	color: white;
	font-size: 25px;
	text-align: center;
}

.container.row.col.s12.m5.ingredients-search{
	padding-right: 0px;
	padding-left: 0px;
}

.left-side-search {
	margin-bottom: 500px;
	height: 100%;
	/*below code is to create a transparent background*/
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 25, 25, .5);
}

.search-container {
	background: url('../img/lp-bbq-display.jpg') no-repeat 50% 50% fixed; 
	padding-bottom: 5cm;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* colors the text white */
.text-white {
	color:white;
}

div.lorem {
	color: white;
	background: rgb(77, 182, 172);
	background: rgba(77, 182, 172, .5);
	margin-bottom: 50px;
}

span.search-page {
/*	padding-bottom: 25px;*/
}

p.h4-size {
	font-size: 4em;
	margin-bottom: 10px;
	margin-top: 0px;
}



