.header {
	padding-top: 5cm;
	padding-bottom: 5cm;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffffff;
}

.foodly {
	/* add in description */
	color: #4db6ac;
}

.desc {
	font-size: 20px;
}

.LPtext {
	padding-top: 15px;
	padding-bottom: 15px;
}

.foodPic {
  height: 150px;
  width: auto;
}

.foodTitle {
  font-size: 16px;
}

/*
h1.headerText { 
	font-size: 2.8em;
}*/

h1.headerTitle {
	text-decoration: underline;
}

.rep-header {
	background-image: url('../img/lp-crackers-display.jpeg');
}

.lp-header {
	background-image: url('../img/lp-cuttingboard-display.jpg');
}

.collection {
	border: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.no-search {
	background-size: cover;
	background-color: #922d50;
	padding-bottom: 5cm;
	padding-top: 5cm;
	max-height: 100%;
	max-width: 100%;
	color: #ffffff;
}

.right-side {
	background-color: green;
}

.rep-header {
	color: #0e0d0d;
	font-size: 4.2rem;
}

.search-row {
	padding-top: 50px;
}

/*.no-search-text {
	background-color: #E5C0E8;
}*/

/*.right-box {
	background-color: #6bb056; 
}*/

/* a color-scheme change */
/*nav {
	background-color: #6bb056;
}
*/


.card-panel {
	width: 600px;
	right: 100px;
	
}

h4.search-h4-text {
	color: white;
	font-size: 50px;
	font-style: underline;
	background-color: green;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 500px;
}

.ingredients-search {
	padding-right: 0px;
	padding-left: 0px;
}

.left-side-search {
	padding-top: 50px;
	margin-top: 200px;
	margin-bottom: 500px;
	height: 100%;
	background-color: #ffffff;
}

.search-container {

	/*max-height: 100%;
	max-width: 100%;
	padding-bottom: 5cm;
	padding-right: -5cm;
	padding-left: -5cm;
	background: url('../img/lp-bbq-display.jpg') no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	background: url('../img/lp-bbq-display.jpg') no-repeat 50% 50% fixed; 
	padding-bottom: 5cm;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

/* colors the text white */
.text-white {
	color:white;
}



/* Retina display 
@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('../img/lp-bbq-display.jpg');
    }
}

/* Desktop 
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('../img/lp-bbq-display.jpg');
    }
}*/






