<div ng-init="getUserRecipes()" id="container" class="collection" ng-controller="RecipeController">

  <div class="jumbotron valign center-align header rep-header">
    <h1 class="headerText">My Recipes</h1>
  </div>

  <div class="col s12 m6 l4">
    <div class="card horizontal small" ng-repeat="recipe in data.myRecipes">
      <div class="card-image">
        <img src="{{recipe.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
	  <span class="card-title">{{recipe.title}}</span>
          <p ng-bind-html="recipe.summary"></p>
	  <h3 class="valign center-align" ng-model="snippet">{{snippet}}</h3>
        </div>
        <div class="card-action">
          <a href="{{recipe.spoonacularSourceUrl}}">Get instructions</a>
          <a ng-click="addRecipe(recipe)">Add To Favorites</a>
          <a ng-click="removeRecipe(recipe)">Remove From Favorites</a>
        </div>
      </div>
    </div>
  </div>

  <!-- not working right now! goal is to have the recipe-snippet follow the user as they scroll through the items -->
  <!-- link: http://stackoverflow.com/questions/11399537/how-do-you-make-a-div-follow-as-you-scroll -->
  <script>
    $("#container").scroll(function() { 
      $("#recipe-snippet").css("top", $(this).scrollTop());
    });
  </script>

</div>